body{
    background-color: hsl(211, 26%, 12%);
}
h1{
    text-align: center;
    color:hsl(356, 64%, 61%);
    margin-top: 1%;
}
img{
    border: 2px solid hsl(356, 64%, 61%);
    box-shadow: 3px 3px 5px;
    width: 350px;
    height: 200px;
    margin: 10px;
    border-radius: 10px;
    margin-top: 0%;
    cursor: pointer;
}
#container {
    display: flex;
    justify-content: center;
}
#menuButton {
    font-family: Rockwell Condensed;
    padding: 10px 20px;
    font-size: 1.5rem;
    cursor: pointer;
    color: hsl(356, 64%, 61%);
    background-color: hsl(211, 26%, 12%); 
    border-radius: 7px;
}
#pElements{
    font-size: 2rem;
    color: hsl(356, 64%, 61%);
    display: flex;
    justify-content: center;
    gap: 18.5%;
}


.popup-menu {
    display: none;
    position: absolute;
    top: 60px;
    left: 8 px;
    background-color: hsl(211, 26%, 12%);
    border: 1px solid #000000;
    z-index: 1000;
    border-radius: 10px;
    color: hsl(356, 64%, 61%);
}

.popup-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    
}

.popup-menu ul li {
    padding: 10px 20px;
    
}

.popup-menu ul li a {
    text-decoration: none;
    color: hsl(211, 26%, 12%);
    display: block;
    border: hsl(211, 26%, 12%);
    color: hsl(356, 64%, 61%);
}

.popup-menu ul li:hover {
    background-color: hsl(218, 27%, 6%) ;
    border-radius: 10px;
    border-color: #000000;
}
#H1element{
    border: 2px solid hsl(0, 5%, 15%);
    border-radius: 10px;
    box-shadow: 3px 3px 5px;
    padding: 5px;
    max-width: fit-content;
}
#container
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
