@font-face {
    font-family: 'Valorant';
    src: url('../Fonts/Valorant Font.ttf') format('truetype');
}

/* Background and a box */
body {
    background-image: url(/images/background.png);
    background-repeat: no-repeat;   
    background-size: cover;
}

img {
    max-width: 500px;
    max-height: 500px;
    border-radius: 20px;
}
h1 {
    color: hsl(356, 64%, 61%);
    font-family: Valorant;
    font-size: 2.5rem; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
    
}

p {
    margin-top: 7%;
    color: hsl(356, 64%, 61%);
    font-size: 1.2rem;
}

#content img {
    display: block;
    margin: 0 auto;
}

#content {
    padding: 20px;
    max-width: 800px;
    margin: auto;
}
#content p {
    margin-bottom: 20px;
    font-family: Valorant;
}
#h1Element {
    border: 2px solid hsl(0, 5%, 15%);
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
    padding: 5px;
    max-width: fit-content;
    transition: transform 0.3s ease, color 0.3s ease; /* Smooth transition */
}

h1 {
    color: hsl(356, 64%, 61%);
    font-family: Valorant;
    font-size: 2.5rem; /* Increased font size */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Subtle text shadow */
    
}

#h1Element:hover {
    transform: scale(1.03); /* Slightly enlarges on hover */
}
#container {                                                         
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#menuButton {
    font-family: Valorant;
    padding: 10px 20px;
    font-size: 1.5rem;
    cursor: pointer;
    color: hsl(356, 64%, 61%);
    background-color: hsl(211, 26%, 12%);
    border: none;
    border-radius: 7px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
#menuButton:hover {
    background-color: hsl(211, 26%, 18%);
    transform: scale(1.05);
}
.popup-menu {
    display: none;
    position: absolute;
    top: 60px;
    left: 8px;
    background-color: hsl(211, 26%, 12%);
    border: 1px solid hsl(211, 26%, 18%);
    z-index: 1000;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    color: hsl(356, 64%, 61%);
    overflow: hidden;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    font-family: Valorant;
}

.popup-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.popup-menu li {
    padding: 10px 20px;
    opacity: 0;
    transform: translateX(-20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.popup-menu li a {
    text-decoration: none;
    color: hsl(356, 64%, 61%);
    font-size: 1.2rem;
    display: block;
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 3px;
}

.popup-menu li a:hover {
    background-color: hsl(211, 26%, 18%);
}
@keyframes fall {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
#social-media{
    font-size: 5rem;
    display: flex;
    justify-content: space-between;
}
#social-media .fa-facebook {
    color: #3b5998; 
}

#social-media .fa-twitter {
    color: #1da1f2; 
}

#social-media .fa-linkedin {
    color: #0077b5; 
}
