@font-face {
    font-family: 'Valorant';
    src: url('../Fonts/Valorant Font.ttf') format('truetype');
}

/* Background and a box */
body {
    background-image: url(/images/background.png);
    background-repeat: no-repeat;   
    background-size: cover;
}

img {
    max-width: 500px;
    max-height: 500px;
    border-radius: 20px;
}
h1 {
    color: black;
    font-family: Valorant;
    font-size: 2.5rem; /* Increased font size */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Subtle text shadow */
    
}

p {
    margin-top: 7%;
}

header {
    font-family: Valorant;
    background-color:  hsl(356, 64%, 61%);
    color: black;
    text-align: center;
    padding: 20px 0;
    font-size: 1.5rem;
}
#content img {
    display: block;
    margin: 0 auto;
}
#content {
    padding: 20px;
    max-width: 800px;
    margin: auto;
}
#content p {
    margin-bottom: 20px;
    font-family: Valorant;
}